{% extends 'accounts/base_accounts.html' %}

{% block title %}Sign in to Oreon Forum{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-20">
      <div class="card">
        <div class="card-body">

          <h3 class="card-title">Sign In</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </form>
        </div>

        <div class="card-footer text-muted text-center">
          New to Oreon Forum? <a href="{% url 'signup' %}">Sign Up</a>
        </div>
      </div>
      <div class="text-center py-2">
        <small>
          <a href="{% url 'password_reset' %}" class="text-muted">Forgot your password?</a>
        </small>
      </div>
    </div>
  </div>
{% endblock %}