{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}The Oreon Forum{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Piedra&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    {% block stylesheet %}{% endblock %}
  </head>

  <body>
    {% block body %}
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">The Oreon Forum</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainMenu">
          {% if user.is_authenticated %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user.username }}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                <a class="dropdown-item" href="{% url 'my_account' %}">My account</a>
                <a class="dropdown-item" href=" {% url 'password_change' %}">Change password</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
              </div>
            </li>
          </ul>
          {% else %}
            <form class="form-inline ml-auto">
              <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
              <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Sign up</a>
            </form>
          {% endif %}
        </div>
      </div>
    </nav>


    <main role="main" class="container">
	  <div class="row">
	    <div class="col-md-8">
	      <div class="container">

            <ol class="breadcrumb my-4">
              {% block breadcrumb %}
              {% endblock %}
            </ol>

            {% block content %}
            {% endblock %}
          </div>
	    </div>

	    <div class="col-md-4 my-4">
	      <div class="content-section">
	        <center><h3>Quick Links</h3></center>
	          <ul class="list-group">
                <li class="list-group-item list-group-item-light"><a href="#" class="btn btn-outline-secondary">About the Developer</a></li>
	            <li class="list-group-item list-group-item-light"><a href="#" class="btn btn-outline-secondary">Latest Posts</a></li>
	            <li class="list-group-item list-group-item-light"><a href="#" class="btn btn-outline-secondary">Announcements</a></li>
	            <li class="list-group-item list-group-item-light"><a href="#" class="btn btn-outline-secondary">OpenStack</a></li>
	            <li class="list-group-item list-group-item-light"><a href="#" class="btn btn-outline-secondary">Snippets</a></li></li>
	          </ul>

	      </div>
	    </div>

	  </div>
	</main>

    {% endblock body %}
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block javascript %}{% endblock %}

  </body>

  <footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">©2020
      <a href="https://oreonforum.herokuapp.com/"> The Oreon Forum</a>
    </div>
    <!-- Copyright -->

  </footer>

</html>