body {
  background-image: url("../img/shattered.ea2316224d45.png");
}

.logo {
  font-family: 'Piedra', cursive;
}

.logo a {
  color: rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}
